.menu-items {
  height: 80px;
  /*background-color: black;*/
  color: white;
  background-color: black;
  width: 100%;
  padding: 0 15px 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.menu-item {
  cursor: pointer; }

.wrappper {
  height: 80px; }

img {
  /*height: 100px;*/
  width: auto; }

