<div class="wrapper">
    <h1>contact</h1>
    <div fxLayout="row">
        <div fxFlex="50">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                    <md-input-container>
                        <input md-input placeholder="name">
                    </md-input-container>
                </div>
                <div fxFlex>
                    <md-input-container>
                        <input md-input placeholder="family">
                    </md-input-container>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                    <md-input-container>
                        <input md-input placeholder="occupation">
                    </md-input-container>
                </div>
                <div fxFlex>
                    <md-input-container>
                        <input md-input placeholder="experience">
                    </md-input-container>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex>
                    <md-select placeholder="interset">
                        <md-option [value]="Ultrices ">
                            Ultrices
                        </md-option>
                        <md-option [value]="quisque  ">
                            quisque
                        </md-option>
                        <md-option [value]="habitasse  ">
                            habitasse
                        </md-option>
                        <md-option [value]="facilisis  ">
                            facilisis
                        </md-option>
                    </md-select>
                </div>
                <div fxFlex>
                    <md-select placeholder="country">
                        <md-option [value]="Ultrices ">
                            Ultrices
                        </md-option>
                        <md-option [value]="quisque  ">
                            quisque
                        </md-option>
                        <md-option [value]="habitasse  ">
                            habitasse
                        </md-option>
                        <md-option [value]="facilisis  ">
                            facilisis
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div fxFlex="50">
            <img src="https://cdn.objects.florahospitality.com/media/images/original/contact-us.jpg" alt="" />
        </div>
    </div>


</div>