<div fxLayout="row" class="menu-items" fxHide="false" fxHide.xs>
    <div id="about" (click)="goTo($event.target)" fxFlex fxLayoutAlign="space-around center">about</div>
    <div id="products" (click)="goTo($event.target)" fxFlex fxLayoutAlign="space-around center">products</div>
    <div id="clients" (click)="goTo($event.target)" fxFlex fxLayoutAlign="space-around center">clients</div>
    <div id="contact" (click)="goTo($event.target)" fxFlex fxLayoutAlign="space-around center">contact</div>
    <div id="my-account" (click)="goTo($event.target)" fxFlex fxLayoutAlign="space-around center">my-account</div>
</div>
<div fxLayout="row" class="menu-items" fxHide="false" fxHide.xs>
</div>