<div class="wrapper">
    <h1>our products</h1>
    <div fxHide="false" fxHide.xs fxLayout.xs="column" fxLayout="row">
        <div fxLayout="column">
            <div fxFlex></div>
            <div fxFlex></div>
        </div>

        <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex></div>
                <div fxFlex></div>
            </div>
            <div fxFlex></div>

        </div>
    </div>


    <div fxHide="false" fxHide.gt-xs fxLayout="column">
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
    </div>
</div>