<md-card class="example-card">
    <md-card-header>

        <md-card-title>products</md-card-title>
        <md-card-subtitle>our company best products</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <div fxLayoutAlign="space-between stretch" class="outer" fxLayout="row">
            <div fxLayout="column" fxFlex="33">
                <div id="perfume" fxFlex></div>
                <div id="stamp" fxFlex></div>
                <div id="watch" fxFlex></div>

            </div>

            <div fxLayout="column" fxFlex="67">
                <div fxLayout="row" fxFlex="33">
                    <div id="house" fxFlex></div>
                    <div id="car" fxFlex></div>
                </div>

                <div id="jewlery" fxFlex></div>

            </div>
        </div>
    </md-card-content>
</md-card>

